<template>
  <div>
    <NavBar />
    <div class="transaction-container">
      <h1>Transaction History</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction Message</th>
            <th scope="col">Create Time</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="transaction in transactions" :key="transaction.id">
            <th scope="row">{{ transaction.id }}</th>
            <td style="white-space: pre">{{ transaction.message }}</td>
            <td>{{ transaction.createTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import NavBar from "../../../components/NavBar.vue";
import { useStore } from "vuex";

export default {
  name: "transactionsStore",
  setup() {
    const transactions = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();

    onMounted(async () => {
      const response = await fetch(
        baseUrl + "user/transactions/" + store.state.username,
        {
          headers: {
            Authorization: "Bearer " + store.state.token,
          },
        }
      );
      const data = await response.json();
      transactions.value = data;
    });

    return { transactions };
  },

  components: {
    NavBar,
  },
};
</script>

<style scoped>
.transaction-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
</style>