<template>
  <div>
    <NavBar />
    <div class="book-container">
      <h4 v-if="!books.length">
        Hmm! Looks like you haven't bought any books as of now.
      </h4>
      <h6 v-if="!books.length">Go Checkout Book Store to buy some.</h6>
      <h1 v-if="books.length">Your Books</h1>
      <table v-if="books.length" class="table books-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books" :key="book.id">
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.bookName }}</td>
            <td>{{ book.authorName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import NavBar from "../../../components/NavBar.vue";
import { useStore } from "vuex";

export default {
  name: "UserBooks",
  setup() {
    const books = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();

    onMounted(async () => {
      const response = await fetch(
        baseUrl + "user/books/" + store.state.username,
        {
          headers: {
            Authorization: "Bearer " + store.state.token,
          },
        }
      );
      const data = await response.json();
      books.value = data;
      console.log(data);
    });

    return { books };
  },

  components: {
    NavBar,
  },
};
</script>

<style scoped>
.book-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
</style>