<template>
  <div>
    <NavBar />
    <div class="coupon-container">
      <h4 v-if="!coupons.length">
        Hmm! Looks like you don't have any coupons as of now.
      </h4>
      <h6 v-if="!coupons.length">
        Go do some good work and earn some coupons.
      </h6>
      <h1 v-if="coupons.length">Your Coupons</h1>
      <table v-if="coupons.length" class="table coupons-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Coupon Name</th>
            <th scope="col">Coupon Value</th>
            <th scope="col">Expiry Time</th>
            <th scope="col" />
          </tr>
        </thead>
        <tbody>
          <tr v-for="(coupon, index) in coupons" :key="coupon.id">
            <th scope="row">{{ coupon.id }}</th>
            <td>{{ coupon.couponName }}</td>
            <td>{{ coupon.couponValue }}</td>
            <td>{{ coupon.expiryTime }}</td>
            <td class="d-flex align-items-center">
              <select v-model="userSelected[index]" class="me-2">
                <option value="Select User" selected disabled>
                  Select User
                </option>
                <option
                  v-for="user in users"
                  :value="user.username"
                  :key="user.id"
                >
                  {{ user.username }}
                </option>
              </select>
              <button
                @click="rewardCouponToUser(coupon.id, index)"
                class="btn btn-dark btn-sm"
                :disabled="isButtonDisabled[index]"
              >
                {{ isButtonDisabled[index] ? "..." : "Reward Coupon" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import NavBar from "../../../components/NavBar.vue";
import { useStore } from "vuex";
import { notify } from "@kyvg/vue3-notification";

export default {
  name: "UserCoupons",
  setup() {
    const coupons = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();
    const users = ref([]);
    const userSelected = ref([]);
    const isButtonDisabled = ref([]);

    onMounted(async () => {
      const response = await fetch(
        baseUrl + "user/coupons/" + store.state.username,
        {
          headers: {
            Authorization: "Bearer " + store.state.token,
          },
        }
      );
      const data = await response.json();
      userSelected.value = data.map((coupon) => "Select User");
      isButtonDisabled.value = new Array(data.length).fill(false);
      coupons.value = data;

      const response2 = await fetch(baseUrl + "users", {
        method: "GET",
        headers: {
          Authorization: "Bearer " + store.state.token,
        },
      });
      const data2 = await response2.json();
      users.value = data2.sort((a, b) => a.id - b.id);
      users.value = users.value.filter(
        (user) => user.username !== store.state.username
      );
    });

    const rewardCouponToUser = async (couponId, userId) => {
      if (userSelected.value[userId] === "Select User") {
        notify({
          type: "error",
          title: "You must select some user",
        });
        return;
      }
      isButtonDisabled.value[userId] = true;
      try {
        const response = await fetch(
          baseUrl +
            "users/rewards/" +
            couponId +
            "/" +
            userSelected.value[userId],
          {
            method: "PUT",
            headers: {
              Authorization: "Bearer " + store.state.token,
              "Content-type": "application/json; charset=UTF-8",
            },
          }
        );
        if (response.ok) {
          const data = await response.json();
          userSelected.value = data.map((coupon) => "Select User");
          isButtonDisabled.value = new Array(data.length).fill(false);
          coupons.value = data;
          notify({
            title: "Reward Sent Successfully",
            text: "Check email for transaction details",
            type: "success",
          });
        } else throw new Exception("Transfer failed");
      } catch (error) {
        notify({
          title: "Something went",
          text: "Error Occured :- " + error.message,
          type: "error",
        });
        isButtonDisabled.value[userId] = false;
      }
    };

    return {
      coupons,
      users,
      userSelected,
      rewardCouponToUser,
      isButtonDisabled,
    };
  },

  components: {
    NavBar,
  },
};
</script>

<style scoped>
.coupon-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
select {
  width: 8em;
  height: 1.8em;
}
button {
  min-width: 9em;
}
</style>