<template>
  <router-link class="navbar-button" :to="{ name: buttonLink }">
    <button :class="`btn ` + (buttonStyle || `btn-outline-dark`)">
      {{ textValue }}
    </button>
  </router-link>
</template>

<script>
export default {
  name: "NavBarButton",
  props: {
    textValue: String,
    buttonLink: String,
    buttonStyle: String,
  },
};
</script>

<style>
</style>