<template>
  <NavBar />
  <div class="m-5">
    <div class="jumbotron">
      <h1 class="display-4">Hello, {{ username }}!</h1>
      <p class="lead">
        Welcome to your dashboard. You can buy the books that you like with the
        coupons you've got. You might be rewarded with more coupons on
        purchasing certain books with offers on them.
      </p>
      <hr class="my-4" />

      <div class="d-flex">
        <div class="p-3 box">
          <h4 class="display-9">User Panel</h4>
          <div>
            <ul>
              <li>Username: {{ username }}</li>
              <li>Email: {{ email }}</li>
              <li>User Role: {{ role }}</li>
            </ul>
          </div>

          <router-link :to="{ name: 'UserBooks' }" class="btn btn-dark">
            Explore Your Books
          </router-link>
          <router-link to="/user/coupons" class="ms-2 btn btn-dark">
            Explore Your Coupons
          </router-link>
        </div>

        <div v-if="role === 'ADMIN'" class="p-3 box">
          <h4 class="display-9">Admin Panel</h4>
          <div>
            <ul>
              <li>Update Books</li>
              <li>Create and Assign coupons</li>
              <li>Update roles of other users</li>
            </ul>
          </div>
          <router-link to="/admin/books" class="btn btn-dark">
            Books Db
          </router-link>
          <router-link to="/admin/coupons" class="ms-2 btn btn-dark">
            Coupons Db
          </router-link>
          <router-link to="/admin/users" class="ms-2 btn btn-dark">
            Users Db
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import NavBar from "../../components/NavBar";

export default {
  name: "Dashboard",
  components: { NavBar },
  setup() {
    const store = useStore();
    const { username, books, coupons, email, role } = store.state;

    return { username, books, coupons, email, role };
  },
};
</script>

<style scoped>
.box {
  background: #d7d7d7;
  border-radius: 10px;
  margin-right: 20px;
}
</style>