<template>
  <div class="home">
    <NavBar />
    <div class="m-5">
      <div class="jumbotron">
        <h1 class="display-4">Welcome To Books And Rewards!</h1>
        <p class="lead">
          Your one stop solution for exchanging your rewards for books.
        </p>
        <hr class="my-4" />
        <ul class="my-5">
          <li>Get Exclusive Rewards</li>
          <li>Coupons Are Partially Redeemable</li>
          <li>Choose between tons of books</li>
          <li>One click seamless purchase</li>
          <li>Your Transaction history at your fingetips</li>
          <li>Gift Coupons</li>
          <li>Get Notified by Email</li>
        </ul>
        <router-link to="/login" v-if="!user" class="btn btn-dark btn-lg">
          Login To Continue
        </router-link>
        <router-link
          to="/signup"
          v-if="!user"
          class="ms-3 btn btn-outline-dark btn-lg"
        >
          Create New Account
        </router-link>
        <router-link
          to="/dashboard"
          v-if="user"
          class="btn btn-outline-dark btn-lg"
        >
          Go To Dashboard
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import NavBar from "../../components/NavBar.vue";

export default {
  name: "Home",
  components: {
    NavBar,
  },
  setup() {
    const store = useStore();
    const user = store.getters.isAuth;

    return { user };
  },
};
</script>

<style scoped>
ul {
  list-style: none;
  padding-left: 0;
}
li {
  position: relative;
  padding-left: 1.5em;
}
li:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>")
    no-repeat;
}
</style>