<template>
  <div>
    <NavBar />
    <div class="book-container">
      <h1>Book Store</h1>
      <table class="table books-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
            <th scope="col">Price</th>
            <th scope="col" />
          </tr>
        </thead>
        <tbody>
          <tr v-for="(book, index) in books" :key="book.id">
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.bookName }}</td>
            <td>{{ book.authorName }}</td>
            <td>{{ book.price }}</td>
            <td>
              <button
                class="btn btn-sm btn-outline-dark"
                @click="buyBook(book.id, index)"
                :disabled="isButtonDisabled[index]"
              >
                {{ isButtonDisabled[index] ? "..." : "Buy Book" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import NavBar from "../components/NavBar.vue";
import { useStore } from "vuex";
import { notify } from "@kyvg/vue3-notification";

export default {
  name: "BooksStore",
  setup() {
    const books = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const isButtonDisabled = ref([]);
    const store = useStore();

    onMounted(async () => {
      try {
        const response = await fetch(baseUrl + "user/books/", {
          headers: {
            Authorization: "Bearer " + store.state.token,
          },
        });
        const data = await response.json();
        const validBooks = data.filter((book) => book.quantity > 0);
        isButtonDisabled.value = new Array(validBooks.length).fill(false);
        books.value = validBooks;
      } catch (error) {
        notify({
          title: "Book Loader",
          text: "Unable to load books",
          type: "error",
        });
      }
    });

    const buyBook = async (bookId, index) => {
      try {
        isButtonDisabled.value[index] = true;
        const response = await fetch(
          baseUrl + "books/buy/" + store.state.username + "/" + bookId,
          {
            method: "GET",
            headers: {
              Authorization: "Bearer " + store.state.token,
            },
          }
        );
        if (!response.ok) {
          const data = await response.json();
          notify({
            type: "error",
            title: "Book Purchase failed!",
            text:
              data.message +
              "<br /> You can ask any admin to add more coupons to your account.",
          });
          return;
        }

        notify({
          type: "success",
          title: "Book Purchase Successful!",
          text: "Added book to your book collection",
        });
      } catch (error) {
        notify({
          type: "error",
          title: "Unexpected Behaviour",
          text: "Something went wrong",
        });
        console.log(error.message);
      }

      isButtonDisabled.value[index] = false;
      return;
    };

    return { books, buyBook, isButtonDisabled };
  },

  components: {
    NavBar,
  },
};
</script>

<style scoped>
.book-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
button {
  min-width: 6em;
}
</style>