<template>
  <div class="d-flex navbar align-items-center">
    <div class="mb-0 d-flex heading-container" @click="goHome">
      <img src="../assets/logo.svg" width="50" class="" />
      <h1 class="ms-2 mb-0 pt-1">Books And Rewards</h1>
    </div>
    <NavBarButton v-if="!user" textValue="Sign Up" buttonLink="Signup" />
    <NavBarButton
      v-if="!user"
      textValue="Log In"
      buttonLink="Login"
      buttonStyle="btn-dark"
    />
    <NavBarButton
      v-if="user && pathname !== '/dashboard'"
      textValue="Dashboard"
      buttonLink="Dashboard"
    />
    <NavBarButton
      v-if="user && pathname !== '/books/store'"
      textValue="Books Store"
      buttonLink="BooksStore"
    />
    <NavBarButton
      v-if="user && pathname !== '/user/transactions'"
      textValue="Transactions History"
      buttonLink="Transactions"
    />
    <NavBarButton
      v-if="user"
      buttonStyle="btn-dark"
      textValue="Log Out"
      buttonLink="Logout"
    />
  </div>
</template>

<script>
import NavBarButton from "./NavBarComponents/NavBarButton.vue";
import { computed } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  name: "NavBar",
  components: {
    NavBarButton,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const user = store.getters.isAuth;
    const goHome = () => router.push("/");

    const pathname = computed(() => window.location.pathname);
    return { user, goHome, pathname };
  },
};
</script>

<style>
.navbar {
  background: #e7e7e7;
}

.heading-container {
  margin-right: auto;
  margin-left: 4em;
}

.heading-container > h1 {
  font-weight: bold;
  font-size: 1.8em;
}

.navbar-button {
  margin-right: 1em;
}
.navbar-button:last-child {
  margin-right: 9em;
}
</style>