<template>
  <NavBar />
  <div class="book-container d-flex flex-column align-items-center">
    <form
      @click.prevent="addBook"
      class="d-flex flex-column align-items-center"
    >
      <h4 class="mb-4">Add Books To Database</h4>
      <input type="text" placeholder="Book Name" v-model="bookName" required />
      <input
        type="text"
        placeholder="Author Name"
        v-model="authorName"
        required
      />
      <input type="number" placeholder="Price" v-model="price" required />
      <input type="number" placeholder="Quantity" v-model="quantity" required />
      <button type="submit" class="btn btn-outline-dark">Add Book</button>
    </form>
    <router-link to="/admin/books" class="mt-4 btn btn-outline-dark btn-sm">
      Go Back To Book Db
    </router-link>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { ref } from "vue";
import NavBar from "../../../components/NavBar.vue";

export default {
  name: "AddBook",
  components: { NavBar },
  setup() {
    const authorName = ref("");
    const bookName = ref("");
    const price = ref();
    const quantity = ref();
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();

    const addBook = async () => {
      if (authorName.value === "") return;
      if (bookName.value === "") return;
      if (!price.value) return;
      if (!quantity.value) return;
      const response = await fetch(baseUrl + "admin/books", {
        method: "POST",
        headers: {
          Authorization: "Bearer " + store.state.token,
          "Content-type": "application/json; charset=UTF-8",
        },
        body: JSON.stringify({
          authorName: authorName.value,
          bookName: bookName.value,
          price: price.value,
          quantity: quantity.value,
        }),
      });
      if (response.ok) {
        authorName.value = "";
        bookName.value = "";
        price.value = undefined;
        quantity.value = undefined;
      }
    };

    return { bookName, authorName, price, quantity, addBook };
  },
};
</script>
<style scoped>
.book-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
.book-container form {
  width: 40%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.book-container input {
  border-radius: 100px;
  width: 75%;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border: none;
  background-color: #e7e7e7;
}
</style>