<template>
  <NavBar />
  <div class="coupon-container d-flex flex-column align-items-center">
    <form
      @click.prevent="addCoupon"
      class="d-flex flex-column align-items-center"
    >
      <h4 class="mb-4">Add Coupons To Database</h4>
      <input
        type="text"
        placeholder="Coupon Name"
        v-model="couponName"
        required
      />
      <input
        type="number"
        placeholder="Coupon Value"
        v-model="couponValue"
        required
      />
      <select v-model="userSelected">
        <option value="Select User" selected disabled>Select User</option>
        <option v-for="user in users" :value="user.username" :key="user.id">
          {{ user.username }}
        </option>
      </select>
      <button type="submit" class="btn btn-outline-dark">Add Coupon</button>
    </form>
    <router-link to="/admin/coupons" class="mt-4 btn btn-outline-dark btn-sm">
      Go Back To Coupon Db
    </router-link>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { onMounted, ref } from "vue";
import NavBar from "../../../components/NavBar.vue";

export default {
  name: "AddCoupon",
  components: { NavBar },
  setup() {
    const couponName = ref("");
    const couponValue = ref();
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();
    const users = ref([]);
    const userSelected = ref("Select User");

    onMounted(async () => {
      const response = await fetch(baseUrl + "users", {
        method: "GET",
        headers: {
          Authorization: "Bearer " + store.state.token,
        },
      });
      const data = await response.json();
      users.value = data.sort((a, b) => a.id - b.id);
    });

    const addCoupon = async () => {
      if (couponName.value === "") return;
      if (!couponValue.value) return;
      if (userSelected.value === "Select User") return;

      const response = await fetch(
        baseUrl + "admin/coupons/add/" + userSelected.value,
        {
          method: "POST",
          headers: {
            Authorization: "Bearer " + store.state.token,
            "Content-type": "application/json; charset=UTF-8",
          },
          body: JSON.stringify({
            couponName: couponName.value,
            couponValue: couponValue.value,
          }),
        }
      );
      if (response.ok) {
        couponName.value = "";
        couponValue.value = undefined;
        userSelected.value = "Select User";
      }
    };

    return { couponValue, couponName, addCoupon, users, userSelected };
  },
};
</script>
<style scoped>
.coupon-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
.coupon-container form {
  width: 40%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.coupon-container input,
select {
  border-radius: 100px;
  width: 75%;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border: none;
  background-color: #e7e7e7;
}
</style>