<template>
  <NavBar />
  <div class="book-container">
    <router-link to="/admin/books/add" class="mb-3 btn btn-outline-dark">
      Add New Book
    </router-link>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Book Name</th>
          <th scope="col">Author Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books" :key="book.id">
          <th scope="row">{{ book.id }}</th>
          <td>{{ book.bookName }}</td>
          <td>{{ book.authorName }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
import { ref } from "vue";
import NavBar from "../../../components/NavBar.vue";

export default {
  name: "AdminBooks",
  components: { NavBar },
  setup() {
    const books = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();

    onMounted(async () => {
      const response = await fetch(baseUrl + "admin/books", {
        method: "GET",
        headers: {
          Authorization: "Bearer " + store.state.token,
        },
      });
      const data = await response.json();
      books.value = data.sort((a, b) => a.id - b.id);
    });

    return { books };
  },
};
</script>
<style scoped>
.book-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
</style>