<template>
  <NavBar />
  <div class="user-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scoper="col" />
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button
              class="btn btn-outline-dark btn-sm"
              @click="switchRole(user.username)"
            >
              Switch Role
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
import { ref } from "vue";
import NavBar from "../../../components/NavBar.vue";

export default {
  name: "AdminUsers",
  components: { NavBar },
  setup() {
    const users = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();

    onMounted(async () => {
      const response = await fetch(baseUrl + "users", {
        method: "GET",
        headers: {
          Authorization: "Bearer " + store.state.token,
        },
      });
      const data = await response.json();
      users.value = data.sort((a, b) => a.id - b.id);
      // users.value = users.value.filter(
      //   (user) => user.username !== store.state.username
      // );
    });

    const switchRole = async (username) => {
      try {
        const response = await fetch(
          baseUrl + "users/switch-role/" + username,
          {
            method: "PUT",
            headers: {
              Authorization: "Bearer " + store.state.token,
            },
          }
        );
        if (response.ok) {
          users.value = users.value.map((user) => {
            if (user.username !== username) return user;
            user.role = user.role === "ADMIN" ? "USER" : "ADMIN";
            return user;
          });
        }
      } catch (e) {}
    };

    return { users, switchRole };
  },
};
</script>
<style scoped>
.user-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
</style>