<template>
  <NavBar />
  <div class="coupon-container">
    <router-link to="/admin/coupons/add" class="mb-3 btn btn-outline-dark">
      Add New Coupon
    </router-link>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Coupon Name</th>
          <th scope="col">Coupon Value</th>
          <th scope="col">User Name</th>
          <th scope="col">Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="coupon in coupons" :key="coupon.id">
          <th scope="row">{{ coupon.id }}</th>
          <td>{{ coupon.couponName }}</td>
          <td>{{ coupon.couponValue }}</td>
          <td>{{ coupon.username }}</td>
          <td>{{ coupon.expiryTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
import { ref } from "vue";
import NavBar from "../../../components/NavBar.vue";

export default {
  name: "AdminCoupons",
  components: { NavBar },
  setup() {
    const coupons = ref([]);
    const baseUrl = process.env.VUE_APP_API_URL;
    const store = useStore();

    onMounted(async () => {
      const response = await fetch(baseUrl + "admin/coupons", {
        method: "GET",
        headers: {
          Authorization: "Bearer " + store.state.token,
        },
      });
      const data = await response.json();
      console.log(data);
      coupons.value = data.sort((a, b) => a.id - b.id);
    });

    return { coupons };
  },
};
</script>
<style scoped>
.coupon-container {
  width: 100vw;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
</style>