<template>
  <router-view />
  <notifications position="bottom right" />
</template>

<script>
import { onBeforeMount } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();
    onBeforeMount(() => {
      store.dispatch("autoLogin");
    });
  },
};
</script>

<style>
</style>
