<template>
  <div class="login-container container-fluid d-flex flex-column">
    <div class="row">
      <NavBar />
    </div>
    <div class="row flex-grow-1">
      <div
        class="login-container-1 col-md-7 d-flex flex-column align-items-center"
      >
        <h1>Login To Your Account</h1>
        <p>Login using social networks</p>
        <form
          @submit.prevent="handleLogin"
          class="d-flex flex-column login-form align-items-center"
        >
          <input
            type="text"
            placeholder="Username"
            v-model="username"
            required
          />
          <input
            type="password"
            placeholder="Password"
            v-model="password"
            required
          />
          <button class="btn btn-outline-dark" :disabled="isButtonDisabled">
            {{ isButtonDisabled ? "..." : "Log In" }}
          </button>
        </form>
      </div>
      <div class="login-container-2 col d-flex flex-column align-items-center">
        <h1>New Here?</h1>
        <p>Sign up and and discover a library of books</p>
        <router-link :to="{ name: 'Signup' }"
          ><button class="btn btn-outline-dark">Sign Up</button></router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import NavBar from "../../components/NavBar.vue";
import { notify } from "@kyvg/vue3-notification";

export default {
  name: "Login",
  components: {
    NavBar,
  },
  setup() {
    const username = ref("");
    const password = ref("");
    const store = useStore();
    const router = useRouter();
    const isButtonDisabled = ref(false);

    const handleLogin = async () => {
      isButtonDisabled.value = true;
      try {
        await store.dispatch("logIn", {
          username: username.value,
          password: password.value,
        });

        router.replace("/dashboard");
        notify({
          title: "Welcome",
          text: "Login Successful",
          type: "success",
        });
      } catch (error) {
        notify({
          title: "Authorization",
          text: "Error Occured :- " + error.message,
          type: "error",
        });
      }
      isButtonDisabled.value = false;
    };
    return { username, password, handleLogin, isButtonDisabled };
  },
};
</script>

<style scoped>
.login-container {
  height: 100vh;
}
.login-form {
  width: 100%;
}
.login-container input {
  border-radius: 100px;
  width: 60%;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border: none;
  background-color: #e7e7e7;
}
.login-container-1,
.login-container-2 {
  padding-top: 5em;
}
.login-container-1 h1,
.login-container-2 h1 {
  font-size: 3.2em;
  font-weight: bolder;
}
.login-container-2 {
  border-left: 2px solid #a7a7a7;
}
.login-container-1 button {
  min-width: 4em;
}
</style>