<template>
  <div class="m-5">
    <div class="jumbotron p-3">
      <h1 class="display-4">Come Back Soon</h1>
      <p class="lead">Thanks For Using Our Product. Visit Us Again</p>
      <hr class="my-4" />
      <p>Redirecting to home page in {{ seconds }} seconds...</p>
      <p class="lead">
        <button class="btn btn-dark btn-lg" @click="goHome" role="button">
          Click To Go Home
        </button>
      </p>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  setup() {
    const store = useStore();
    const seconds = ref("5");
    const router = useRouter();
    let intervalRef;

    onMounted(() => {
      store.dispatch("logOut");
      intervalRef = setInterval(() => {
        if (seconds.value === 0) {
          router.push("/");
          clearInterval(intervalRef);
        }
        seconds.value--;
      }, 1000);
    });

    const goHome = () => {
      clearInterval(intervalRef);
      router.push("/");
    };

    return { seconds, goHome };
  },
};
</script>

<style>
</style>