<template>
  <div class="d-flex flex-column login-container">
    <NavBar />
    <div class="flex-grow-1">
      <div class="login-container-1 d-flex flex-column align-items-center">
        <h1>Sign Up For A New Account</h1>
        <p>Sign up using social networks</p>
        <form
          @submit.prevent="handleSignup"
          class="d-flex signup-form flex-column align-items-center"
        >
          <input
            type="text"
            placeholder="Username"
            v-model="username"
            required
          />
          <input type="email" placeholder="Email" v-model="email" required />
          <input
            type="password"
            placeholder="Password"
            v-model="password"
            required
          />
          <button class="btn btn-outline-dark" :disabled="isButtonDisabled">
            {{ isButtonDisabled ? "..." : "Sign Up" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "../../components/NavBar.vue";
import { ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { notify } from "@kyvg/vue3-notification";

export default {
  name: "Signup",
  components: {
    NavBar,
  },
  setup() {
    const email = ref("");
    const password = ref("");
    const username = ref("");
    const isButtonDisabled = ref(false);

    const store = useStore();
    const router = useRouter();

    const handleSignup = async () => {
      isButtonDisabled.value = true;
      try {
        const baseUrl = process.env.VUE_APP_API_URL;
        const response = await fetch(baseUrl + "authentication/sign-up", {
          method: "POST",
          body: JSON.stringify({
            email: email.value,
            username: username.value,
            password: password.value,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        const data = await response.json();
        if (response.ok) {
          await store.dispatch("logIn", {
            username: username.value,
            password: password.value,
          });

          router.replace("/dashboard");
          notify({
            title: "Welcome",
            text: "Login Successful",
            type: "success",
          });
        } else throw new Error(data.message);
      } catch (e) {
        notify({
          title: "Authorization",
          text: "Error Occured :- " + e.message,
          type: "error",
        });
      }
      isButtonDisabled.value = false;
    };

    return { email, password, username, handleSignup, isButtonDisabled };
  },
};
</script>

<style scoped>
.login-container {
  height: 100vh;
  width: 100vw;
}
.signup-form {
  width: 100%;
}
.login-container input {
  border-radius: 100px;
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border: none;
  background-color: #e7e7e7;
}
.login-container-1,
.login-container-2 {
  padding-top: 5em;
}
.login-container-1 h1,
.login-container-2 h1 {
  font-size: 3.2em;
  font-weight: bolder;
}
.login-container-2 {
  border-left: 2px solid #a7a7a7;
}
.error-class {
  color: white;
  background: lightcoral;
  padding: 10px;
  border-radius: 10px;
}
.error-class h5 {
  margin-bottom: 0;
}
.login-container-1 button {
  min-width: 4em;
}
</style>
